{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a
                href="{{ link.url | relative_url }}"
                {% if link.description %} title="{{ link.description }}"{% endif %}
                {% if link.target %} target="{{ link.target }}"{% endif %}
              >{{ link.title }}</a>
            </li>
          {%- endfor -%}
          
          
          <!-- 트위터 메뉴 -->
          <!-- <li><a href="https://twitter.com/bindModel" target="_blank">
            <i class="fab fa-twitter"></i> Twitter
          </a></li> -->
          
          <!-- <ul> -->
            
            
            <!-- <li><a href="{{ site.languages.en.path }}">English</a></li>
            <li><a href="{{ site.languages.ko.path }}">Korean</a></li> -->

            <!-- 현재 페이지 언어 기반 메뉴 출력 ''{{page.layout}}, {{site.languages.en.path}}  -->
    <!-- {% if page.lang == "en" %}
    <li><a href="/ko{{ page.url | remove: '/en' }}">한국어</a></li>
  {% elsif page.lang == "ko" %}
    <li><a href="/en{{ page.url | remove: '/ko' }}">English</a></li>
  {% endif %} -->

          <!-- </ul> -->
        </ul>

        <!-- 언어 선택 드롭다운 -->
        {% include language-switcher.html %}
        <!-- {{ page.layout }}, {{ page.title }}, {{ page.lang }}, -->
        {% if site.search == true %} 
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
